body {
 
    
}

.title {
    background-color: #051d35;
}

.cor {
     background-color: #051d35;
     
}


h1 {
    font-family: "Montserrat-black", sans-serif;
    font-size: 3.5rem;
    line-height: 1, 5;
    color: white;
    
}
h3{
    font-family: "Montserrat-bold";
}
p{
    color: #8f8f8f;
}
.navbar{
    padding: 2%;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-nav {
    padding-right: 15%;
}
.nav-link{
    font-family:"Montserrat", sans-serif;
    font-size: 1.2rem;

    color: white;
}
.col-lg-6{
    padding: 3%;
}
@media (min-width: 992px) {
  .navbar-nav {
    gap: 100px;
  }
} 
.img1{
    width:50%;
     transform: rotate(-25deg); /* Equal to rotateZ(45deg) */
}
.filtros{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#051d35;
}