body {
 
    font-family: "Montserrat";
}

.title {
    background-color: #051d35;
}

.cor {
     background-color: #051d35;
     
}


h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1, 5;
    color: white;
    
}
.navbar{
    padding: 2%;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-nav {
    padding-right: 15%;
}
.nav-link{

    color: white;
}
.col-lg-6{
    padding: 3%;
}